@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

body,
button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;
}

ul{
    list-style: none;
}

button{
    /* padding: 5px 12px; */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    /* margin-top: 3%; */
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    background-color: white;
}

.bigButton{
    font-size: medium;
    font-weight: 500;
    padding: 0.8rem 1rem;
}

.whiteButton{
    background-color: white;
}

.blackButton{
    background-color: black;
    color: white;
}

.violetButton{
    background-color: #8ea1e1;
    color: white;
}

.width70Container{
    width: 70%;
    margin: auto;
}

/* header */

.topBarContainer{
    padding-top: 1%;
}

.logoContainer{
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menuContainer{
    flex-basis: 80%;
    color: white;
}

.logoContainer,
.loginContainer{
    flex-basis: 10%;
}

.menuList{
    flex-basis: 60%;
    list-style: none;
    font-size: small;
}

.headingContainer{
    width: 40%;
    margin: auto;
    text-align: center;
    /* background-color: lightyellow; */
    padding-top: 8%;
    padding-bottom: 9%;
}

.headerTitle{
    margin-bottom: 5%;
    font-size: 3rem;
}

.buttonsContainer{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

/* sections in columns */

section{
    padding-top: 7%;
    padding-bottom: 7%;
}

.sectionWhite{
    background-color: white;
}

.sectionGray{
    background-color: #f6f6f6;
}

.sectionContainerReverse{
    flex-direction: row-reverse;
}

/* .larger,
.smaller{
    background-color: lightskyblue;
} */

.larger{
    width: 59%;
}

.smaller{
    width: 30%;
    padding-top: 3%;
}

/* item section 3 bug fixing (padding is different from the others) */

.section3 .smaller{
    padding-top: 1%;
}

.larger > img{
    width: 100%;
    vertical-align: middle;
}

.flexRow .sectionTitle{
    text-align: left;
}

.sectionTitle{
    font-size: 2.3rem;
    line-height: 2.8rem;
}

/* sections in rows */

/* se sostituisco section title con un H non serve il margin bottom */

.sectionTitle,
.imgHorizontal,
.sectionParagraph{
    margin-bottom: 2rem;
    text-align: center;
}

.sectionSubtitle{
    font-size: 1.5rem;
}

.section4Subtitle{
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    padding: 2rem;
    background-size: 100%;
}

.imgHorizontal > img{
    width: 100%;
}

.imgHorizontal{
    width: 100%;
}

/* footer */

footer{
    background-color: #23272A;
    padding-top: 3%;
    padding-bottom: 5%;
    color: white;
    font-size: small;
}

.footerContainer{
    border-bottom: 1px solid #8ea1e1;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.footerSocial{
    flex-basis: 25%;
}

.footerMenu{
    flex-basis: 70%;
}

.footerSocialList > li{
    display: inline-block;
}

.languageFlag{
    height: 1rem;
    margin-right: 1%;
}

footer .sectionSubtitle{
    color: #8ea1e1;
    margin-bottom: 1rem;
}


.languageContainer{
    margin-bottom: 1rem;
}

ul > ul{
    color: #8ea1e1;
    font-weight: 600;
}

footer li{
    color: white;
    font-weight: 500;
    margin: 0.6rem 0 0.6rem;
}